body {
  background-color:#00004d;
  color:#FFD700;
  font-family:"monaco","Consolas","Lucida Console",monospace,sans-serif; 
;
  margin:auto;
}
div {
  border:3px solid #FFD700;
  margin:auto;
  width:600px;
  overflow:auto;
  padding 10px;
}
