body {
  background-color:#00004d;
  color:#FFD700;
  font-family:"monaco","Consolas","Lucida Console",monospace,sans-serif;
;
 
}
div {
  border: 3px solid #FFD700;
  margin: auto;
  overflow: auto;
  padding 10px;
}
.page {
  length: 700px;
  overflow: auto;
  width: 600px;
}
img {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
}
h5 {
  text-align: center;
}
